<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhl.encourage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:protectionLevel="signature" android:name="com.jhl.encourage.permission.C2D_MESSAGE"></permission>
    <uses-permission android:name="com.jhl.encourage.permission.C2D_MESSAGE"/>

    <application
        android:name=".EncourageApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >
        <activity
            android:name="com.jhl.encourage.activities.JHSplashActivity"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.jhl.encourage.activities.JHLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jhl.encourage.activities.JHRegistrationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.jhl.encourage.activities.JHTimelineActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name="com.jhl.encourage.gcm.JHGCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.jhl.encourage" />
            </intent-filter>
        </receiver>
       	<service android:name="com.jhl.encourage.gcm.JHGCMMessageHandler" />

        <meta-data android:name="com.google.android.gms.version"
           android:value="4" />

       
        
    </application>

</manifest>